 #module-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding-bottom: 30px;
	margin-top: 10px;
}

 #module-container h1 {
	text-align: left;
	font-size: 40px;
	font-family: sans-serif;
	color: #54b948;
	font-weight: 900;
	width: 550px;
}

 #module-container #module-liststyle {
	width: 400px;
	height: 20px;
	padding: 0px 5px 5px 5px;
	margin-left: 20px;
	margin-top: 20px;
	text-align: left;
} 

 #module-container #module-liststyle .liststyles{
	display: inline-block;
	font-size: .7em;
	text-decoration: underline;
	height: 20px;
	width: 20px;
}

 #module-container #module-liststyle .liststyles img {
	height: 12px;
	width: 12px;
}

 #module-container #module-liststyle .liststyles img:hover {
	box-shadow: 0px 0px 1px black;
}

 #module-container #grid-container {
	display: inline-block;
}

 #module-container #grid-container .module-box {
	width:  300px;
	height: 200px;
	display: inline-block;
	background: rgba(85, 85, 85, 1);
	vertical-align: top;
	border: 2px solid #dddddd;
	overflow: hidden;
	position: relative;
	margin: 10px;
}

#module-container #grid-container .module-box .check {
	float: right;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 25px 25px 0;
	border-color: transparent #53b948 transparent transparent;
	 -webkit-transform:rotate(360deg);
}
 #module-container #grid-container .module-box .thumb {
	margin: 0 auto;;
	background-color: white;
	height: 200px;
	background-repeat: no-repeat;
	background-size: 100%,100%;
}

 #module-container #grid-container .module-box .mb-title {
	font-size: 1.2rem;
	height: 35px;
	margin-top: -35px;
	background: rgba(85, 85, 85, .7);
	text-align: left;
	padding: 5px 5px 5px 5px;
	font-family: sans-serif;
	width: inherit;
	color: #f3f3f3;
}

 #module-container #grid-container .module-box .description{
	margin: 0 auto;
	border-top: 1px solid black;
	width: inherit;
	height: 70px;
	background: rgba(85, 85, 85, .7);
	padding: 5px;
	font-size: 12px;
	color: #f3f3f3;
	font-family: "OpenSansRegular";
	text-align: left;
	line-height: 1.5em;
}

#module-container #grid-container .module-box:hover .mb-title,
.mod_active {
	margin-top: -105px !important;
	-webkit-transition: margin-top .1s linear .2s; /* For Safari 3.1 to 6.0 */
	transition: margin-top .1s linear .2s;	
}

  #module-container #list-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin-top: 20px;
}

  #module-container #list-container ul {
	margin-left: 50px;
	text-align: left;
}

  #module-container #list-container ul li {
	min-height: 30px;
	width: 480px;
	margin: 0px 5px 0px 5px;
}

  #module-container #list-container ul li span {
	font-size: 15px;
	display: inline-block;
	cursor: pointer;
	color: #555555;
	width: 300px;
	padding: 5px ;
	-webkit-transition: background-color 1s; /* For Safari 3.1 to 6.0 */
	transition: background-color 1s;
}

  #module-container #list-container ul li span:hover {
	text-shadow: 0px 5px 8px #888888;
	border-bottom: 1px solid orange;
	background-color: #eeeeee;
}


/*Admin Module*/

.module.index #module-container {
	margin-top: 10px;	
}

.module.index #module-add {
	cursor: pointer;
	float: left;
	text-align: left;
	overflow: hidden;
	height: 40px;
	transition: width .2s linear;
}

.module.index #module-img {
	 transition: opacity .3s ease, visibility 1s ease;	
	display: none;
	vertical-align: middle;
	float: left;
	opacity: 1;
}


.module.index .actions.grid {
	width: inherit;
	height: 0px;
	background: #54B948;
	opacity: 0;
	padding:  5px 5px 5px 5px;
}

.module.index .actions.grid ul {
	padding: 0px;
	margin: 0px auto;
}

.module .active {
	transition: opacity .1s ease 0s, top .1s linear;
	height: 40px !important;
	opacity: 1 !important;
}

.module.index .module-box .actions ul li {
	display: inline-block;
	vertical-align: top;
	color:  #717171;
	cursor: pointer;
}
.module.index .module-box .actions ul li button {
	width: 60px;
	padding: 5px 5px !important;
}

.module.index .module-box .actions ul li:hover {
	background: #FFD700;	
}

.module.create #editor-container  {
	width: 100%;
	margin-bottom: 20px;
}
