.trainee.index .panel-body p {
	margin: 0 auto;
}

.module.enrol .form-container {
	min-width: 450px;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	margin: 20px 0px;
}

/*profile*/
.view_profile .form-horizontal .control-group {
	display:block;
	width: 100%;
	margin-bottom: 10px;
}

.view_profile .form-horizontal label {
	display: inline-block;
	width: 200px;
}

.view_profile .form-horizontal label.label {
	font-weight: bold;
}

.view_profile .form-horizontal label.value {
	margin-left:  10px;
	float: none;
	text-align: left;

}