.trainee.index .panel-body p {
	margin: 0 auto;
}

.module .form-container {
	min-width: 450px;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	margin: 20px 0px;
}

.module form,
.module .form-container .panel-body {
	text-align: center;
}

.module p.text-error {
  font-size: .75rem;
  margin: 3px 3px 3px 5px;
}

/*profile*/
.profile .form-horizontal .control-group,
.results-form .control-group {
	display:block;
	width: 100%;
	margin-bottom: 10px;
}

.profile .form-horizontal label,
.results-form label {
	display: inline-block;
	width: 200px;
}

.profile .form-horizontal label.label,
.results-form label.label {
	font-weight: bold;
}

.profile .form-horizontal label.value,
.results-form label.value {
	margin-left:  10px;
	float: none;
	text-align: left;

}

/*Module List View*/
.trainee.index #module-container #list-container ul {
	padding-left: 0;
	text-align: center;
}

.trainee.index #module-container #list-container ul li {
	width: calc(100% - 6px);
	height: auto;
	/*max-height: 57px;*/
	border: 2px solid #dddddd;
	/*overflow: hidden;*/
}

.trainee.index #module-container #list-container ul .li-active {
	border: 3px solid #54B948;
}

.trainee.index #module-container #list-container ul li .mb-title {
	width: calc(100% - 70px);
	white-space:nowrap;
}

.trainee.index #module-container #list-container ul li .mb-title p {
	text-overflow: ellipsis;
	overflow:hidden;
}

.trainee.index #module-container #list-container ul li .actions {
	float: left;
	margin-top: 5px;
}

.trainee.index #module-container #list-container ul li .actions .button {
	font-size: .7rem;
	padding: 4px 10px 3px 10px;
}

/*Test Form*/
/*.test.take #body-content {
	text-align: center;
}
*/
.scheduled_test .form-container,
.test .form-container {
	min-width: 500px;
	vertical-align: top;
	display: inline-block;
	margin: 40px auto;
}

.scheduled_test .form-container .panel-heading,
.scheduled_test .form-container .panel-footer,
.test .form-container .panel-heading,
.test .form-container .panel-footer {
	text-align: center;
}

.scheduled_test .form-container .panel-footer .button {
	padding: 6px 50px 5px 50px;
}

.test #test-content #submit-bottom,
.test #test-content #process-results-bottom,
.scheduled_test #test-content #submit-bottom,
.scheduled_test #test-content #process-results-bottom {
	font-size: 1.5rem;
	padding: 10px 50px 9px 50px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.test #test-header,
.scheduled_test #test-header {
	text-align: left;
	overflow: hidden;
}

.test #module-title,
.scheduled_test #module-title {
	max-width: calc(100% - 150px);
	/*white-space:nowrap;*/
	display: inline-block;
	margin: 10px 0;
	/*text-overflow: ellipsis;*/
	overflow:hidden;
}

.test #test-header #action-buttons,
.scheduled_test #test-header #action-buttons {
	vertical-align: middle;
	float: right;
	margin: 18px 0;
}

/*dataTable*/
.dataTables_wrapper select,
.dataTables_wrapper input {
	font-family: inherit;
	width: auto;
	height: auto;
	padding: 2px;
}

.dataTable th, .module-table th {
	border-bottom: 0 !important;
}

.module-table td:first-child,
.module-table-admin td:first-child,
.module-table td.rating  {
	width: 15px;
	text-align: center;
	white-space: nowrap;
}
