#header {
	height: 100%;
	width: 100%;
	/*background: linear-gradient(to top,#6FBB44,#3B8D42);*/
	background-image: url(../../images/landing/header-bg.jpg);
	background-position:  center top;
	background-repeat: no-repeat;
	background-size: 100% 100px;
}
#logo-block {
	float: left;
}
#ssco {
	font-size: 60px;
	height: 60px;
	margin: 5px 0px 0px 30px;
	font-family: "ConsolasRegular";
}
#mbl {
	font-size: 15px;
	margin: 5px 0px 0px 60px;
	font-family: "OpenSansRegular";
}
#logo-block a {
	text-decoration: none;
	color: white;
}
#logo-block a:hover {
	text-decoration: none;
}

.pull-right {
	position: relative;
	float: right;
	text-align: right;
}

#user {
	margin: 70px 20px 0px 0px;
}
#current-user {
	font-family: medium;
	font-family: "LatoHairline";
	color: white;
}

#bread-crumbs {
	min-width: 200px;
	height: 20px;
	float: left;
	margin: 100px 0px 0px -200px;
	font-size: 12px;
	padding: 5px;
	font-family: "OpenSansLight";
}

#bread-crumbs a {
	text-decoration: none;
	color: #aaaaaa;
}
