#footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background: linear-gradient(#6FBB44,#3B8D42);
}
#links {
	position: relative;
	float: left;
}
#links a:link, a:visited {
	text-decoration: none;
	color: black;
}
#links a:hover {
	text-decoration: underline;
}
#controls {
	position: relative;
	margin-right: 40px; 
	float:right;
}
