#header {
	min-height: inherit;
	width: 100%;
	background: linear-gradient(to top,#6FBB44,#3B8D42);
}
#logo-block {
	float: left;
	margin: 20px 0px 0px 30px;
	height: 100%;
}
#ssco {
	color: white;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 36px;
	font-weight: bold;
}
#mbl {
	color: white;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 20px;
}
#logo-block a {
	text-decoration: none;
	color: white;
}
#logo-block a:hover {
	text-decoration: none;
}
#navigation {
	position: relative;
	float: right;
	margin: 20px 20px auto auto;
	color: white;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 12px;
}
#navigation a {
	text-decoration: none;
	color: white;
}
#navigation a:hover {
	text-decoration: underline;
}
.pipe-separator {
	letter-spacing: 3px;
}

#user {
	float: right;
	margin: 70px 0px 0px 0px;
	
}
#current-user {
	font-family: medium;
	font-family: "LatoHairline";
	color: white;
}
#bread-crumbs {
	min-width: 200px;
	height: 20px;
	float: left;
	margin: 100px 0px 0px -200px;
	font-size: 12px;
	padding: 5px;
	font-family: "OpenSansLight";
}

#bread-crumbs a {
	text-decoration: none;
	color: #aaaaaa;
}
