/*** HOME LAYOUT ***/
#main-wrapper.basic {
  min-height: 100%;
  width: 100%;
  padding-bottom: 63px;
}

#main-wrapper.basic #main-header{
  width: 100%;
  min-height: 100px;
}

#main-wrapper.basic #main-content{
  width: 100%;
  min-height: 500px;
}

#main-wrapper.basic #main-content #body-content {
	margin-top: 50px;
	text-align: center;
}

