html, body {
	font-family: "Arial";
	font-size: 14px;
}

.nav:before,
.nav:after {
	content: " ";
	display: table;
}

.nav:after {
	clear: both;
}

/* Typography */
a {
	/*color: #489441;*/
	color: #4287C2;
	text-decoration: none;
}
a:hover, a:focus {
	/*color: #3F8039;*/
	color: #2a6496;
	text-decoration: underline;
}
a:active, a:hover {
	outline: 0;
}

h1, h2, h3, h4, h5, h6 {
	/*color: #12AD2B;*/
}

h1 {
	font-size: 2.75rem !important;
}

h2 {
	font-size: 2.25rem !important;
}

h3 {
	font-size: 1.75rem !important;
}

h4 {
	font-size: 1.25rem !important;
}

h5 {
	font-size: 1rem !important;
}

h6 {
	font-size: 0.75rem !important;
}

.text-primary {
	color: #008287;
}

.text-muted {
	color: #808080;
}

.text-warning {
	color: #F4A725;
}

.text-error {
	color: #E14F3C;
}

.text-info {
	color: #4D99F2;
}

.text-success {
	color: #54B948;
}
.text-size-o {
	font-size: 1rem;
}
.text-size-s1 {
	font-size: .9rem;
}
.text-size-s2 {
	font-size: .8rem;
}
.text-size-s3 {
	font-size: .7rem;
}
.text-size-s4 {
	font-size: .6rem;
}
blockquote {
	border-left: 5px solid #BFD8BB;
	padding: 10px 10px 10px 20px;
	line-height: 1.5rem;
}

blockquote * {
	margin: 0 auto;
}

code {
	font-family: "ConsolasRegular", Consolas;
	border: 1px solid #CCCCCC;
	background-color: #eeeeee;
	color: #498853;
	padding: 0px 5px;
}

pre {
	font-family: "ConsolasRegular", Consolas;
	background-color: #eeeeee;
	padding: 10px 10px 10px 10px;
	color: #498853;
	border-left: 5px solid #529948;
	margin: 10 20px;
}

/* Tables */

table {
	margin: 20px 0;
	width:  100%;
	border: 1px solid #808080;
	border-left: 0;
	border-collapse: separate;
	border-spacing: 0;
	background-color: #EEEEEE;
}

table th, table td {
	padding: 8px;
	/*line-height: 20px;*/
	text-align: left;
	border-left: 1px solid #808080;
	border-top: 1px solid #808080;
}

table th {
	font-weight: bold;
	font-size: 1rem;
	color: black;
	background-color: #E6E6E6;
}

table td {
	font-size: 0.9rem;
	background-color: white;
}

table thead:first-child tr:first-child th {
	border-top: 0;
	border-left: 1px solid #808080;
}

/* Forms */

form {
	padding: 10px;
}

fieldset {
	padding: 0;
	margin: 0;
	border: none !important;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 1.6rem;
	line-height: 2.5rem;
	border: 0;
	border-bottom: 1px solid #C4C2C2 !important;
	/*color: #12AD2B;*/
}

.field,
input[type='text'],
input[type='password'],
select {
	font-family: "FontAwesome","OpenSansLight";
	width: 200px;
	/*height: 28px;*/
	border: 1px solid #cccccc;
	display:inline-block;
	margin: 0;
	padding: 6px 6px;
	font-size: inherit;
}

select {
	padding: 5px 6px !important;
}

input[type='submit'],
input[type='button'],
button,
.button {
	display: inline-block;
	margin: 0;
	border: none;
	padding: 6px 15px 5px 15px;
	background-color: #949393;
	color: white !important;
	font-family: "OpenSansLight","Segoe UI";
	font-size: 1rem;
	text-align: center;
	vertical-align: baseline;
	cursor: pointer;
	transition: opacity 0.2s ease-in-out;
}

input[type='submit']:hover,
input[type='button']:hover,
button:hover, 
.button:hover {
	opacity: .9;
}

.button-warning {
	background-color: #F4A725 !important;
}

.button-danger {
	background-color: #E14F3C !important;
}

.button-info {
	background-color: #4D99F2 !important;
}

.button-success {
	background-color: #54B948 !important;
}

.button-primary {
	background-color: #008287 !important;
}

input[type="radio"], 
input[type="checkbox"] {
	margin: 4px 0 0;
}

.checkbox input[type='checkbox'],
.radio input[type='radio'] {
	display: inline-block;
	float: left;
	margin: 0;
	margin-top: 4px;
	margin-left: -20px;
	vertical-align: middle;
}

label.checkbox, 
label.radio {
	float: none;
	text-align: left;
	display: block;
	min-height: 20px;
	line-height: 20px;
	padding-left: 20px;
	padding-top: 5px;
	margin-bottom: 5px;
}

label {
	text-align: left;
	display: block;
	padding-top: 7px;
	margin-bottom: 7px;
}

label.checkbox.inline, 
label.radio.inline {
	display: inline-block;
}

textarea {
	width: 300px;
	height: 150px;
	resize: none;
}

/*Form-default*/
.control-group {
	display:block;
	width: 100%;
	text-align: left;
	margin-bottom: 15px;
}

.controls {
	display:block;
}

/*Form-horizontal*/
.form-horizontal .control-group {
	display:block;
	width: 100%;
	text-align: left;
	margin-bottom: 15px;
}

.form-horizontal .controls {
	display:block;
	margin-left:  120px;
}
.form-horizontal label {
	float: left;
	text-align: right;
	width: 100px;
	display: block;
}
.form-horizontal label.checkbox, 
.form-horizontal label.radio{
	float: none;
	text-align: left;
	display: block;
	vertical-align: middle;
}

/*Form-inline*/
.form-inline input,
.form-inline select {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}

.form-inline label {
	display: inline-block;
}

.form-inline label.checkbox,
.form-inline label.radio {
	padding-left: 0;
	margin-bottom: 5px;
	vertical-align: middle;
}

.form-inline .checkbox input[type='checkbox'],
.form-inline .radio input[type='radio'] {
	display: inline-block;
	float: left;
	margin-left: 0px;
	margin-right: 5px;
}

hr {
	border: 0;
	border-bottom: 1px solid #C4C2C2;
  width: 95%;
}

/*Navigation*/
ul, ol {
	margin-top: 0;
	margin-bottom: 10px;
}

.nav {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.nav>li {
	position: relative;
	display: block;
}

.nav-pills>li {
	float: left;
}

.nav-pills>li+li {
	margin-left: 2px;
}

.nav-stacked>li {
	float: none;
}

.nav-stacked>li+li {
	margin-top: 2px;
	margin-left: 0;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus {
	color: #fff;
	background-color: #91C78C;
	/*background-color: #4FA647;*/
	/*background-color: #428bca;*/
}

.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background-color: #E2E2E2;
}

/*Sidebar*/
.sidebar {
	width: 200px;
	border: 1px solid #dddddd;
}

.sidebar .nav>li.header {
	font-family: "OpenSansLight";
	padding: 10px 15px;
	color: #fff;
	background-color: #4FA647;
	cursor: default;
	font-size: 1.6rem;
	position: relative;
	display: block;	
}

.sidebar .nav-pills>li.active>a, 
.sidebar .nav-pills>li.active>a:hover, 
.sidebar .nav-pills>li.active>a:focus {
	color: #fff;
	background-color: #B6B6B6;
	/*background-color: #4FA647;*/
	/*background-color: #428bca;*/
}
.sidebar a {
	/*color: #489441;*/
	/*color: #4287C2;*/
	font-size: 1rem;
	color: #6B6B6B;
	font-family: "Arial","Segoe UI";
	text-decoration: none;
}
.sidebar a:hover,
.sidebar a:focus {
	color: #525252;
	/*color: #2a6496;*/
	text-decoration: underline;
}
.sidebar a:active,
.sidebar a:hover {
	outline: 0;
}
.sidebar .search {
	position: relative;
	display: block;
	padding: 10px 15px;
}

.sidebar .search input {
	width: 170px;
}
