body.admin.index {
	margin: 0 auto;
}

/*Options*/

.admin.index #quick-links {
	width: 1000px;
	height: 200px;
}
.admin.index  #options-container {
	width: 1000px;
	height: 350px;
	margin: 0 auto;
	padding: 20px 20px 20px 20px;
	margin-bottom: 20px;
}

.admin.index  #options-container .options {
	background-color: #f3f3f3;
	width: 200px;
	height: 250px;
	display: inline-block;
	margin: 10px;
	margin-top: 50px;
	border-radius: 20px;
	border: 5px solid #4D924D;
	vertical-align: top;
	cursor: pointer;
}

.admin.index  #options-container .options:hover {
	box-shadow: 0px 0px 15px 2px  #ADFF2F, 0px 5px 20px black;
	-webkit-transition: box-shadow 1.5s; /* For Safari 3.1 to 6.0 */
	transition: box-shadow 1.5s;	
}

.admin.index  #options-container .options .thumb {
	width: 140px;
	height: 140px;
	border: 3px solid black;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 10px;
	border: 3px solid #4D924D;
	background-position: 100%,100%;
	background-repeat: no-repeat;
}

.admin.index  #options-container .options .action {
	font-family: "ConsolasRegular";
	color: #666666;
	margin: 5px 0px;
	font-weight: bold;
	text-decoration: underline;
}

.admin.index  #options-container .options .des {
	font-family: "ConsolasRegular";
	font-size: 15px;
	color: #666666;
	margin: 5px 0px;
}

.admin.index  #options-container .options a {
	text-decoration: none;
}



/*Module*/

.module.index .actions.grid {
	width: inherit;
	height: 0px;
	background-color: rgba(77,146,77,.8);
	position: absolute;
	left: 0%;
	top: 0px;
	opacity: 0;
	padding:  5px 5px 5px 5px;
}

.module.index .module-box:hover .actions {
	transition: opacity .3s ease .250s, top .5s linear;
	height: 40px;
	top: -30px;
	opacity: 1;
}

.module.index .module-box .actions ul li {
	display: inline-block;
	width: 60px !important;
	font-family: "OpenSansRegular";	
	height: 30px;
	padding: 5px 5px 5px 5px;
	background-color: #EBF8A4;
	font-size: 15px;
	color:  #717171;
	border-radius: 2px;
	cursor: pointer;
}

.module.index .module-box .actions ul li:hover {
	background: #FFD700;	
}
