body.admin.index {
	margin: 0 auto;
}
#module-intro{
	text-align: left;
}

/*Options*/

.admin.index #quick-links {
	width: 1000px;
	height: 200px;
}
.admin.index  #options-container {
	min-height: 350px;
	margin: 0 auto;
	padding: 20px 20px 20px 20px;
	margin-bottom: 20px;
	text-align: center;
}

.admin.index  #options-container .options {
	background-color: #f3f3f3;
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 10px;
	margin-top: 50px;
	border: 1px solid #dddddd;
	vertical-align: top;
	cursor: pointer;
	overflow: hidden;
}

.admin.index  #options-container .options .thumb {
	width: 140px;
	height: 140px;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 10px;
	background-position: 100%,100%;
	background-repeat: no-repeat;
}

.admin.index  #options-container .options .action {
	font-family: "ConsolasRegular";
	color: white;
	margin: 23px 0px 0px 0px;
	background: rgba(81, 142, 48, .9);
	font-size: 1.2rem;
}

.admin.index  #options-container .options .text-options {
	overflow: hidden;
	-webkit-transition: margin-top .6s; /* For Safari 3.1 to 6.0 */
	transition: margin-top .6s;
	margin-top: 86px;
	z-index: -5;
}

.admin.index  #options-container .options:hover .text-options {
	margin-top: -50px;
	z-index: 1;
}
.admin.index  #options-container .options .des {
	font-family: "ConsolasRegular";
	font-size: 1rem;
	color: white;
	margin: 0px 0px;
	padding: 5px;
	background: rgba(81, 142, 48, .9);
}

.admin.index  #options-container .options a {
	text-decoration: none;
}

.test-result-table th {
	width: 170px;
}

#result-back {
	float: right;
}