/*General*/
.user a {
	text-decoration: none;
}

.user p.text-error {
  font-size: .75rem;
  margin: 3px 3px 3px 5px;
}
.user p.text-info {
  font-size: .75rem;
  margin: 3px 3px 3px 5px;
}
.user p.warning {
	font-size: .75rem;
  margin: 3px 3px 3px 5px;
}

/*Form*/

.user .user-container {
	min-height: 200px;
	min-width: 450px;
	vertical-align: top;
	display: inline-block;
	background: #f4f5f6;
	padding: 20px 20px 10px 20px;
	margin: 20px 0px;
	border: 1px solid #C5C5C5;
}


/*Functions*/
.user #functions-container {
	width: 1000px;
	min-height: 350px;
	margin: 0 auto;
	padding: 20px 20px 20px 20px;
	margin-bottom: 20px;
}

.user #functions-container .function {
	background-color: #f3f3f3;
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 10px;
	margin-top: 50px;
	border-radius: 20px;
	border: 5px solid #4D924D;
	vertical-align: top;
	cursor: pointer;
}

.user #functions-container .function:hover {
	box-shadow: 0px 0px 15px 2px  #60AE44, 0px 5px 20px black;
	transition: box-shadow 0.5s;	
}

.user #functions-container .function .thumb {
	width: 140px;
	height: 140px;
	border: 3px solid black;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 10px;
	border: 3px solid #4D924D;
	background-position: 100%,100%;
	background-repeat: no-repeat;
}

.user #functions-container .function .thumb .overlay {
	position: relative;
	top:52px;
	left:65px;
	width: 64px;
	height: 64px;
	background-size:64px 64px;
	background-position: 100%,100%;
	background-repeat: no-repeat;
	overflow: hidden;
	padding-top: 7.6px;
}

.user #functions-container .function .thumb .overlay img{
	width: 64px;
	height: 64px;
}

.user #functions-container .function .action {
	font-family: "ConsolasRegular";
	color: #666666;
	margin: 5px 0px;
	font-weight: bold;
}

/*Function result and Delete confirm*/

.user #function-result-container #message-content,
.user #delete-confirm-container #message-content {
	margin: 15px 0;
	padding: 10px;
}

.user #function-result-container #message-content p,
.user #delete-confirm-container #message-content p {
  font-size: 1rem;
}

/*View all users*/
.user #users-container table {
	margin-top: 10px;
	border-left: 0;
	border-collapse: separate;
	border-spacing: 0;
}

.user #users-container table td {
	background-color: white;
}

.user #users-container .button {
	display: inline-block;
	float: right;
	margin-bottom: 10px;
	margin-left: 5px;
}

.user .user-container .view-title-bar {
	min-height: 40px;
	width: 100%;
	display: block;
}

.user .user-container .view-title-bar #view-legend {
	width: auto;
	font-size: 20px;
	line-height: 30px;
	display: inline !important;
	float: left;
	margin-bottom: 10px;
	border-bottom: none !important;
}

/*View User*/
.user #view-container .button {
	display: inline-block;
	float: right;
	margin-bottom: 10px;
	margin-left: 5px;
}

.user #view-container #profile-content {
	padding: 15px 25px;
}

.user #view-container .control-group {
	display:block;
	width: 100%;
	margin-bottom: 10px;
}

.user #view-container label {
	display: inline-block;
}

.user #view-container label.label {
	font-weight: bold;
}

.user #view-container label.value {
	margin-left:  10px;
	float: none;
	text-align: left;

}

/*First name and last name fields*/
.user #create-form, .user #edit-form {
	transition: all .1s linear;
}
.user #create-form .trainee-name, .user #edit-form .trainee-name {
	display: none;
}