/*General*/
.user a {
	text-decoration: none;
}

.user p.text-error {
  font-size: .75rem;
  margin: 3px 3px 3px 5px;
}
.user p.text-info {
  font-size: .75rem;
  margin: 3px 3px 3px 5px;
}
.user p.warning {
	font-size: .75rem;
  margin: 3px 3px 3px 5px;
}

/*Form*/

.user .user-container {
	min-height: 200px;
	min-width: 450px;
	vertical-align: top;
	display: inline-block;
	background: #f4f5f6;
	padding: 10px 20px 10px 20px;
	margin: 20px 0px;
	border: 1px solid #C5C5C5;
}


/*Functions*/
.user #functions-container {
	/*width: 800px;*/
	min-height: 350px;
	margin: 0;
	margin-bottom: 20px;
	padding: 20px 20px 20px 20px;
}

.user #functions-container .function {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 10px;
	margin-top: 0px;
	border: 1px solid #dddddd;
	vertical-align: top;
	cursor: pointer;
	overflow: hidden;
}

.user #functions-container .function .thumb {
	width: 140px;
	height: 140px;
	margin: 0 auto;
	margin-top: 20px;
	background-position: 100%,100%;
	background-repeat: no-repeat;
}

.user #functions-container .function .action {
	font-family: "ConsolasRegular";
	color: white;
	background: rgba(81, 142, 48, .9);
	font-size: 1.2rem;
	overflow: hidden;
	z-index: -5;
	margin-top: 50px;
	padding-top: 15px;
	height: 60px;

	transition: margin-top .4s;
}

.user #functions-container .function:hover .action {
	margin-top: -20px;
	z-index: 1;
}

/*Function result and Delete confirm*/

.user #function-result-container #message-content,
.user #delete-confirm-container #message-content {
	margin: 15px 0;
	padding: 10px;
}

.user #function-result-container #message-content p,
.user #delete-confirm-container #message-content p {
  font-size: 1rem;
}

/*View all users*/
.user #users-container table {
	margin-top: 10px;
	border-left: 0;
	border-collapse: separate;
	border-spacing: 0;
}

.user #users-container .button {
	display: inline-block;
	float: right;
	margin-bottom: 10px;
	margin-left: 5px;
}

.user .user-container .view-title-bar {
	min-height: 40px;
	width: 100%;
	display: block;
}

.user .user-container .view-title-bar #view-legend {
	width: auto;
	font-size: 20px;
	line-height: 30px;
	display: inline !important;
	float: left;
	margin-bottom: 10px;
	border-bottom: none !important;
}

/*View User*/
.user #view-container .button {
	display: inline-block;
	float: right;
	margin-bottom: 10px;
	margin-left: 5px;
}

.user #view-container #profile-content {
	padding: 15px 25px;
}

.user #view-container .control-group {
	display:block;
	width: 100%;
	margin-bottom: 10px;
}

.user #view-container label {
	display: inline-block;
}

.user #view-container label.label {
	font-weight: bold;
}

.user #view-container label.value {
	margin-left:  10px;
	float: none;
	text-align: left;

}

/*First name and last name fields*/
.user #create-form, .user #edit-form {
	transition: all .1s linear;
}
.user #create-form .trainee-name, .user #edit-form .trainee-name {
	display: none;
}
