
/*Introduction*/
.home.index #module-intro {
	width: 100%;
	min-height: 250px;
}

.home.index #module-intro #about {
	width: 650px;
	height: 250px;
	float: left;
	display: inline-block;
	text-align: left;
	margin-right: 50px;
}

.home.index #module-intro #about h1 {
	font-size: 30px;
	font-family: sans-serif;
	color: #54b948;
	font-weight: 900;
}

.home.index #module-intro #about p {
	font-size: 15px;
	font-family: "OpenSansRegular";
	line-height: 1.5em;
	color: gray;
	margin: 10px 50px 0px 20px;
}


.home.index #module-intro .login-container {
	float: right;
	height: 240px;
	width: 250px;
	background: #f4f5f6;
	text-align: center;
}
.home.index #module-intro .login-container * {
	margin-left: 5px;
}
.home.index #module-intro .login-container .control-group {
	margin-bottom: 0px;
}

.home.index #module-intro .login-container .text-error {
	font-size: .7rem;
}

.home.index #module-intro .login-container .control-group .controls{
	height: 50px;
}


