
/*Introduction*/
.home.index #module-intro {
	width: 100%;
	min-height: 250px;
}

.home.index #module-intro #about {
	width: 650px;
	height: 250px;
	float: left;
	display: inline-block;
	text-align: left;
	margin-right: 50px;
}

.home.index #module-intro #about h1 {
	font-size: 30px;
	font-family: sans-serif;
	color: #54b948;
	font-weight: 900;
}

.home.index #module-intro #about p {
	font-size: 15px;
	font-family: "OpenSansRegular";
	line-height: 1.5em;
	color: gray;
	margin: 10px 50px 0px 20px;
}


.home.index #module-intro .login-container {
	float: right;
	min-height: 240px;
	width: 250px;
	text-align: center;
	border-color: rgba(193, 195, 199, 1);
}

.home.index #module-intro .login-container #login-button-container {
	margin-top: 20px;
}


.home.index #module-intro .login-container .text-error {
	font-size: .7rem;
}

.home.index #module-intro .login-container .panel-heading {
	height: 70px;
	background: rgba(227, 233, 238, 1);
	text-align: center;
	color: rgba(91, 96, 100, 1);
	border-color: rgba(193, 195, 199, 1);
}

.home.index #module-intro .login-container .panel-title {
	margin-top: 9px;
	margin-bottom: 0;
	color: inherit;
	font-size: 1.75rem;
	font-weight: bold;
}

.home.index #module-intro .login-container .panel-body {
	padding-top: 30px;
	text-align: center;
}
