#mod-content {
	min-height: 700px;
	width: 100%;
}
#mod-content {
	line-height: 2em;
	margin: 15px 0px 5px 0px;
	font-family: "OpenSansRegular";
	margin-bottom: 50px;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}
#mod-content p {
	text-indent: 20px;
}





#field-container {
	width: 100%;
	min-height:300px;
	text-align: left;
	padding: 10px 10px 10px 10px;	
	margin-bottom: 20px;
	border: 1px solid #54b948;
}

#field-container #instruction {
	margin: 10px 0px 10px 0px ;
	height: 260px;
	text-align: left;
	padding: 2px 50px 0px 50px;
	background:  #f4f5f6;
	float: right;
	width: 50%;
}
#field-container #instruction #hide-btn {
	cursor: pointer;
	margin-top: -20px;
}

#field-container #instruction #hide:hover {
	color: #003366;
}

#field-container #instruction h3 {
	color: red;
	margin-top: 10px;
	border-bottom: 1px solid black;
}

#field-container #instruction ul li {
	margin-top: 5px;
	font-size: 12px;
}
.alert.text-error {
	width: 100%;
	padding: 10px;
	font-family: "ConsolasRegular";
	border: 1px solid red;
	text-align: left;
}