#mod-content {
	min-height: 700px;
	width: 100%;
}
#mod-content div {
	line-height: 2em;
	margin: 15px 0px 5px 0px;
	font-family: "OpenSansRegular";
}

#mod-content h1 {
	border-bottom: 1px solid #bbbbbb;
	padding: 0px 0px 15px 0px;
	color: #54b948;
	font-family: "OpenSansLight";
	font-size: 3em;
}

#mod-content h2 {
	border-bottom: 1px solid #bbbbbb;
	padding: 0px 0px 15px 0px;
	font-family: "OpenSansLight";
	font-size: 2em;
}

#field-container {
	width: 100%;
	height: 50px;
	background-color: #54b948;
	text-align: left;
	padding: 10px 10px 10px 10px;	
	margin-bottom: 20px;
}